<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<w:settings xmlns:mc="http://schemas.openxmlformats.org/markup-compatibility/2006" xmlns:o="urn:schemas-microsoft-com:office:office"
            xmlns:r="http://schemas.openxmlformats.org/officeDocument/2006/relationships"
            xmlns:m="http://schemas.openxmlformats.org/officeDocument/2006/math" xmlns:v="urn:schemas-microsoft-com:vml"
            xmlns:w10="urn:schemas-microsoft-com:office:word" xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main"
            xmlns:w14="http://schemas.microsoft.com/office/word/2010/wordml" xmlns:w15="http://schemas.microsoft.com/office/word/2012/wordml"
            xmlns:sl="http://schemas.openxmlformats.org/schemaLibrary/2006/main" mc:Ignorable="w14 w15">
    <w:zoom w:percent="108"/>
    <w:removePersonalInformation/>
    <w:removeDateAndTime/>
    <w:stylePaneFormatFilter w:val="3F01" w:allStyles="1" w:customStyles="0" w:latentStyles="0" w:stylesInUse="0" w:headingStyles="0"
                             w:numberingStyles="0" w:tableStyles="0" w:directFormattingOnRuns="1" w:directFormattingOnParagraphs="1"
                             w:directFormattingOnNumbering="1" w:directFormattingOnTables="1" w:clearFormatting="1" w:top3HeadingStyles="1"
                             w:visibleStyles="0" w:alternateStyleNames="0"/>
    <w:defaultTabStop w:val="709"/>
    <w:autoHyphenation/>
    <w:hyphenationZone w:val="425"/>
    <w:displayHorizontalDrawingGridEvery w:val="0"/>
    <w:displayVerticalDrawingGridEvery w:val="0"/>
    <w:doNotUseMarginsForDrawingGridOrigin/>
    <w:noPunctuationKerning/>
    <w:characterSpacingControl w:val="doNotCompress"/>
    <w:hdrShapeDefaults>
        <o:shapedefaults v:ext="edit" spidmax="14337"/>
    </w:hdrShapeDefaults>
    <w:footnotePr>
        <w:footnote w:id="-1"/>
        <w:footnote w:id="0"/>
    </w:footnotePr>
    <w:endnotePr>
        <w:endnote w:id="-1"/>
        <w:endnote w:id="0"/>
    </w:endnotePr>
    <w:compat>
        <w:compatSetting w:name="compatibilityMode" w:uri="http://schemas.microsoft.com/office/word" w:val="14"/>
        <w:compatSetting w:name="overrideTableStyleFontSizeAndJustification" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
        <w:compatSetting w:name="enableOpenTypeFeatures" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
        <w:compatSetting w:name="doNotFlipMirrorIndents" w:uri="http://schemas.microsoft.com/office/word" w:val="1"/>
    </w:compat>
    <w:rsids>
        <w:rsidRoot w:val="00D555FA"/>
        <w:rsid w:val="000142A7"/>
        <w:rsid w:val="000472E6"/>
        <w:rsid w:val="000729E9"/>
        <w:rsid w:val="00083E05"/>
        <w:rsid w:val="000D3097"/>
        <w:rsid w:val="000D710B"/>
        <w:rsid w:val="000E2A9F"/>
        <w:rsid w:val="00134F9C"/>
        <w:rsid w:val="00136D91"/>
        <w:rsid w:val="00142ACB"/>
        <w:rsid w:val="00146D78"/>
        <w:rsid w:val="00155639"/>
        <w:rsid w:val="001609D0"/>
        <w:rsid w:val="00175C6F"/>
        <w:rsid w:val="0018176C"/>
        <w:rsid w:val="001D1423"/>
        <w:rsid w:val="001E43E2"/>
        <w:rsid w:val="001F7589"/>
        <w:rsid w:val="0024353A"/>
        <w:rsid w:val="0024785B"/>
        <w:rsid w:val="00294FD9"/>
        <w:rsid w:val="002A67EB"/>
        <w:rsid w:val="002C2189"/>
        <w:rsid w:val="002F1A00"/>
        <w:rsid w:val="00315C6F"/>
        <w:rsid w:val="00326BD6"/>
        <w:rsid w:val="00330C08"/>
        <w:rsid w:val="003431BC"/>
        <w:rsid w:val="00354618"/>
        <w:rsid w:val="00360BCE"/>
        <w:rsid w:val="003874C4"/>
        <w:rsid w:val="00391489"/>
        <w:rsid w:val="004640D1"/>
        <w:rsid w:val="004662DA"/>
        <w:rsid w:val="0048331B"/>
        <w:rsid w:val="00492673"/>
        <w:rsid w:val="004A42C8"/>
        <w:rsid w:val="004B5232"/>
        <w:rsid w:val="004C6DD2"/>
        <w:rsid w:val="004E0811"/>
        <w:rsid w:val="0051043A"/>
        <w:rsid w:val="005130D6"/>
        <w:rsid w:val="0051453C"/>
        <w:rsid w:val="0052503B"/>
        <w:rsid w:val="0053176E"/>
        <w:rsid w:val="005333AF"/>
        <w:rsid w:val="00557CCE"/>
        <w:rsid w:val="005678B6"/>
        <w:rsid w:val="005703FB"/>
        <w:rsid w:val="0058699B"/>
        <w:rsid w:val="00592B2D"/>
        <w:rsid w:val="0059491A"/>
        <w:rsid w:val="005A0B0B"/>
        <w:rsid w:val="005C1DCA"/>
        <w:rsid w:val="005E1B58"/>
        <w:rsid w:val="00652B0D"/>
        <w:rsid w:val="00663586"/>
        <w:rsid w:val="0067251E"/>
        <w:rsid w:val="00680B41"/>
        <w:rsid w:val="006A091B"/>
        <w:rsid w:val="006A53AD"/>
        <w:rsid w:val="006B1F53"/>
        <w:rsid w:val="006C7C05"/>
        <w:rsid w:val="00700FE5"/>
        <w:rsid w:val="00760345"/>
        <w:rsid w:val="0078757F"/>
        <w:rsid w:val="0078778D"/>
        <w:rsid w:val="007B5BBE"/>
        <w:rsid w:val="007F2D1A"/>
        <w:rsid w:val="00800689"/>
        <w:rsid w:val="00807C87"/>
        <w:rsid w:val="00822363"/>
        <w:rsid w:val="00834A51"/>
        <w:rsid w:val="00847E1C"/>
        <w:rsid w:val="0085508C"/>
        <w:rsid w:val="008563D6"/>
        <w:rsid w:val="00860A27"/>
        <w:rsid w:val="00867355"/>
        <w:rsid w:val="00872425"/>
        <w:rsid w:val="008750B1"/>
        <w:rsid w:val="008824AD"/>
        <w:rsid w:val="008A1577"/>
        <w:rsid w:val="008A51EE"/>
        <w:rsid w:val="008C39EF"/>
        <w:rsid w:val="0090079F"/>
        <w:rsid w:val="009173CB"/>
        <w:rsid w:val="00952F2F"/>
        <w:rsid w:val="009973A6"/>
        <w:rsid w:val="009A0072"/>
        <w:rsid w:val="009A62F0"/>
        <w:rsid w:val="009B71ED"/>
        <w:rsid w:val="009C7143"/>
        <w:rsid w:val="009E3BA9"/>
        <w:rsid w:val="009E4BB9"/>
        <w:rsid w:val="009F07F3"/>
        <w:rsid w:val="00A13EB3"/>
        <w:rsid w:val="00A27349"/>
        <w:rsid w:val="00A5055A"/>
        <w:rsid w:val="00A50F0A"/>
        <w:rsid w:val="00A56871"/>
        <w:rsid w:val="00A7162B"/>
        <w:rsid w:val="00A94144"/>
        <w:rsid w:val="00AA1611"/>
        <w:rsid w:val="00AD3061"/>
        <w:rsid w:val="00AF2C97"/>
        <w:rsid w:val="00B06DF0"/>
        <w:rsid w:val="00B40056"/>
        <w:rsid w:val="00B520D7"/>
        <w:rsid w:val="00B55D7E"/>
        <w:rsid w:val="00B92875"/>
        <w:rsid w:val="00B94BC6"/>
        <w:rsid w:val="00B96D43"/>
        <w:rsid w:val="00B971AC"/>
        <w:rsid w:val="00BC3DAB"/>
        <w:rsid w:val="00C0723C"/>
        <w:rsid w:val="00C12582"/>
        <w:rsid w:val="00C452FB"/>
        <w:rsid w:val="00C55771"/>
        <w:rsid w:val="00C65DA3"/>
        <w:rsid w:val="00C83DA1"/>
        <w:rsid w:val="00C92B59"/>
        <w:rsid w:val="00CB2A96"/>
        <w:rsid w:val="00CF7870"/>
        <w:rsid w:val="00D33E31"/>
        <w:rsid w:val="00D555FA"/>
        <w:rsid w:val="00D55C26"/>
        <w:rsid w:val="00D6045A"/>
        <w:rsid w:val="00D94D16"/>
        <w:rsid w:val="00D97D21"/>
        <w:rsid w:val="00DA4EB0"/>
        <w:rsid w:val="00DA5575"/>
        <w:rsid w:val="00DA64C9"/>
        <w:rsid w:val="00DB4991"/>
        <w:rsid w:val="00DE43F7"/>
        <w:rsid w:val="00E26061"/>
        <w:rsid w:val="00E31883"/>
        <w:rsid w:val="00E41C68"/>
        <w:rsid w:val="00E53927"/>
        <w:rsid w:val="00EA6C36"/>
        <w:rsid w:val="00EB097D"/>
        <w:rsid w:val="00EC24C1"/>
        <w:rsid w:val="00ED0632"/>
        <w:rsid w:val="00EF322B"/>
        <w:rsid w:val="00F317A4"/>
        <w:rsid w:val="00F45EE6"/>
        <w:rsid w:val="00F75A94"/>
        <w:rsid w:val="00F92A5B"/>
        <w:rsid w:val="00F93D7F"/>
    </w:rsids>
    <m:mathPr>
        <m:mathFont m:val="Cambria Math"/>
        <m:brkBin m:val="before"/>
        <m:brkBinSub m:val="--"/>
        <m:smallFrac m:val="0"/>
        <m:dispDef/>
        <m:lMargin m:val="0"/>
        <m:rMargin m:val="0"/>
        <m:defJc m:val="centerGroup"/>
        <m:wrapIndent m:val="1440"/>
        <m:intLim m:val="subSup"/>
        <m:naryLim m:val="undOvr"/>
    </m:mathPr>
    <w:themeFontLang w:val="de-AT"/>
    <w:clrSchemeMapping w:bg1="light1" w:t1="dark1" w:bg2="light2" w:t2="dark2" w:accent1="accent1" w:accent2="accent2" w:accent3="accent3"
                        w:accent4="accent4" w:accent5="accent5" w:accent6="accent6" w:hyperlink="hyperlink" w:followedHyperlink="followedHyperlink"/>
    <w:doNotIncludeSubdocsInStats/>
    <w:shapeDefaults>
        <o:shapedefaults v:ext="edit" spidmax="14337"/>
        <o:shapelayout v:ext="edit">
            <o:idmap v:ext="edit" data="1"/>
        </o:shapelayout>
    </w:shapeDefaults>
    <w:decimalSymbol w:val=","/>
    <w:listSeparator w:val=";"/>
</w:settings>